@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 10px;
  background: image_url('halftone.png');

}

body {
  background: image_url('subtle_white_mini_waves.png');
}

.navbar {
  background: image_url('dark-triangles.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  color: #EDB407;
}

.navbar-inverse .navbar-brand {
  color: #EDB407;
  font-size:26px;
}